/* Add any Course specific CSS here */


.module-btn {
    padding: 15px;
    width:80%;
}

.module-btn p {
    text-align:center;
}

.module-btn i.arrowLock.fa.fa-lock {
    right: 15%;
}
.tapme-wrapper {
    width: 100px;
    position: absolute;
    right: -100px;
}

.tapme-wrapper p {
    float: right;
}
.plb {
    position: absolute;
}
.oneActive, .twoActive, .threeActive {
    background: url("/images/course-assets/buttons/rectangle-button-visited.svg");
    background-repeat: no-repeat;
  }
  .helpHinder-btn {
    max-width: 300px;
  width: 100%;
  padding: 10px;
  font-size:16px;
  }
  .popupNew {
  width: 100%;
    height: 100%;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 99999;
}
.popupNew .popup-inner {
  margin:0 auto;
  padding-top:2em;
}
.jba-btn-locked, .rectangle-locked, .correct {
  pointer-events: none;
  cursor: default;
}
.row-flex-center {
  display:flex;
  justify-content:center;
  align-items:center;
}
.purple-bk-popup2 {
    width: 100%;
    height: 100%;
    display:flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: #6C1F5D;
    z-index: 99999;
}
.buttonWrapNew {
  margin-top:30%;
  display:flex;
}
.purple-bk-popup2 .popup-inner {
  margin:0 auto;
}
.purple-bk-popup2 .popup-inner p {
  color:black !important;
}
.popup-transition {
 transition: all .3s ease;
 opacity:1;
 display:flex;
}
/* .popup-enter defines the starting state for entering */
/* .popup-leave defines the ending state for leaving */
.popup-enter, .popup-leave {
 opacity: 0;
}
.module-btn .fa-check {
  transition: .2s all;
    position: absolute;
    color: #38B449;
    font-size: 40px;
    right: 0;
    top: 0;
}
.bulbOff {
  background-image: url('/course-files/course-05-interpersonal-communication-2.0/images/png/interCommsBulbOff.png');
  background-repeat: no-repeat;
  height:100px;
  width:100px;
  background-size:contain;
  margin-left:34px;
  margin-top:10px;
}
.bulbOn {
  background-image: url('/course-files/course-05-interpersonal-communication-2.0/images/png/interCommsBulb2.png');
  background-repeat: no-repeat;
  height:145px;
  width:115px;
  background-size:contain;
}
.bulbhideshow {
  height:150px;
  display:flex;
  align-items:center;
}
.arrow-list-white li:before {
    font-family: 'FontAwesome';
    content: '\f061';
    margin: 0 5px 0 -15px;
    color: #ffffff;
}
.image-rows-wrap {
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin-top:10%;
}
span.numbers img {
    width: 50px;
    margin-right:15px;
}
.number-lists {
    display: flex !important;
    align-items: center;
}
.click-lists {
    display: flex !important;
    height:80px;
    margin-left:3em;
}
.prev-button2 {
    display: inline-block;
    background: url(/images/course-assets/buttons/prev-button.svg);
    width: 400px;
    padding: 2em;
    color: white;
    background-repeat: no-repeat;
    transition: .15s all;
    text-align: center;
    width: 50px;
    height: 50px;
    background-size: contain;
}
.circle-btn {
    display: flex;
    background: url(/images/course-assets/buttons/circle-button.svg);
    width: 400px;
    padding: 2em;
    color: white;
    background-repeat: no-repeat;
    transition: .15s all;
    text-align: center;
    width: 50px;
    height: 50px;
    background-size: contain;
    justify-content: center;
    align-items: center;
}
span.center-btn {
    font-size: 20px;
}
.form-cols p {
    height: 60px;
    padding: 0 !important;
}

.matching-clicked, .matchingcorrect {
  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url(/course-files/course-05-interpersonal-communication-2.0/images/svg/clicked.svg) !important;
    background-repeat: no-repeat;
    color: white;
    transition: .15s all;
    transform: scale(1);
    border-width: 0px;
}
@media screen and (max-width:500px) {
  .module-btn i.arrowLock.fa.fa-lock {
      right: 7%;
  }
  .module-btn {
      width:100%;
  }
  .heading {
    font-size:14px;
  }
  .squiggle-container .squiggle-content .module-btn p {
    padding:0 !important;
  }
  .helpHinder-btn {
    width:250px;
  }
  .numbers img {
    width: 40px !important;
    margin-top: -5px;
  }
  .form-cols p {
      height: 60px;
      padding: 0 !important;
  }
}
@media screen and (max-width:1400px) {
  .bulbOff {
    height:75px;
    width:60px;
    margin-left:25px;
    margin-top:20px;
  }
  .bulbOn {
    height:100px;
    width:100px;
  }
  .bulbhideshow {
    height:100px;
  }
}
@media screen and (min-width:600px) {
  .heading {
    font-size: 18px;
 }
}
/*Mix and match list*/

.matchingimg {
    width: auto;
    height:90px;
}
.matching-button {
  width:50%;
  z-index:100000000;
}
.matchy {
  width:100px;
  z-index:100000000000;
}
.matchy2 {
  width:200px;
}
.matching {
  display:flex;
  justify-content:space-between;
  width:100%;
  flex-wrap:wrap;
}
.matching svg {
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
}
.transparent {
  opacity:0;
}

.magenta-link, .magenta-link:hover {
  color:#E51669 !important;
}

.purple-bk-popup2 .popup-inner p.magenta-link, .purple-bk-popup2 .popup-inner p.magenta-link:hover {
  color:#E51669 !important;
}
.purple-bk-popup2 .popup-inner p.white {
  color:#FFFFFF !important;
}

.flip-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.drag-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items:center;
}
.flip-row .switch-float {
    width: auto !important;
    margin-right: 1.8em;
}
.flip-title-row {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flexy-match {
  display: flex;
  justify-content: center;
  width: 50%;
}
.flexy-match2 {
  display: flex;
  justify-content: center;
  width: 40%;
}
.width50 {
    display: flex;
    justify-content: center;
    width: 50%;
}
.padding-less {
  padding:1em !important;
}
.flexy-reload {
  width:60% !important;
}
.flexy-image2 img {
  max-height: 400px;
      width: auto;
}
.piechart {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
}

.piechart svg {
    max-width: 100%;
    width: 100%;
    height: 300px;
}
.drag-buttons {
    width:32%;
    padding:0.5em !important;
    max-width:150px;
    z-index:90000;
}

.drag-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.pie {
    position: relative;
    margin: 0 auto;
}

.verbal {
    position: absolute;
    top: 0;
    left: 20%;
    height: 50%;
    width: 30%;
}


.tone {
    position: absolute;
    left: 0;
    top: 20%;
    height: 70%;
    width: 50%;
}

.body {
    top: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
}

.pie-img img {
    max-width: 100%;
    width: auto;
    height: 50vh;
    max-height: 300px;
}
.arrow-body {
    width: 10px;
    background: #f79838;
    height: 75%;
    margin: 0 auto;
}
.drag-list-wrap {
  display:flex;
  height:250px;
}
.drag-arrow {
    width: 50%;
}

.sortable {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sortable li {
  width:150px;
}
.drag-arrow p {
    text-align: center;
}

.jba-btn-submit2 {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.arrow-top{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f79838;
  margin:0 auto;
}
.arrow-bottom {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f79838;
  margin: 0 auto;
}

@media screen and (max-width:500px) {
  .width50 {
    width:30%;
  }
  .flexy-image2 img {
    max-height: 340px;
  }
  .jba-btn-submit2 {
      padding: 10px 10px;
      font-size: 12px;
      margin-top: 5px;
      line-height: 1.5;
  }
}
