/* Add any Course specific CSS here */
.hint-container{
   background-size: 100% 100%;
}

.form-control{
   overflow-y:auto;
}

@media only screen and (max-device-width: 680px) and (min-device-width: 300px) and (orientation: landscape) {
   .flexy-image {
       width: 50%;
   }
}

.magenta-blob-box{
 background-size:100% 100%;
}

.blue-blob-box{
 background-size:100% 100%;
}

.orange-blob-box{
 background-size:100% 100%;
}

.flexy-image {
   display:block!important;
   /*align-items: -moz- center;*/
   /*align-items:stretch;*/
   /*justify-content:flex-start;*/
}

.flexy-image img {
   /*position: static!important;*/
   transform: none!important;
   /*left: auto!important;*/
   margin:auto;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.prev-button {
   background-size: auto!important;
}

.prev-button {
   background-size: auto!important;
}

.jba-btn {
   background-size: 100% 100%!important;
   transition: transform 0.15s!important;
}

.jba-btn:hover {
   background-size: 100% 100%!important;
}

.courseProgressBar {
   background-size: 100% 100%;
}

.course-button {
   transition: .15s transform;
}

.jba-form-theme:focus {
   outline: none!important;
}

.module-btn {
  padding: 8px;
  width: 80%;
  position:relative;
  margin-top:3px
}

.module-btn p {
    text-align:center;
}

.module-btn i.arrowLock.fa.fa-lock {
    right: 15%;
}
.tapme-wrapper {
    width: 100px;
    position: absolute;
    right: -100px;
}

.tapme-wrapper p {
    float: right;
}
.plb {
    position: absolute;
}
.oneActive, .twoActive, .threeActive {
    background: url("/images/course-assets/buttons/rectangle-button-visited.svg");
    background-repeat: no-repeat;
  }
  .helpHinder-btn {
    max-width: 300px;
  width: 100%;
  padding: 10px;
  font-size:16px;
  }
  .popupNew {
  width: 100%;
    height: 100%;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 99999;
}
.popupNew .popup-inner {
  margin:0 auto;
}
.jba-btn-locked, .rectangle-locked, .correct {
  pointer-events: none;
  cursor: default;
}
.row-flex-center {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.purple-bk-popup2 {
    width: 100%;
    height: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: #6C1F5D;
    z-index: 99999;
}
.buttonWrapNew {
  margin-top:30%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.purple-bk-popup2 .popup-inner {
  margin:0 auto;
}
.purple-bk-popup2 .popup-inner p {
  color:black !important;
}
.popup-transition {
 -webkit-transition: all .3s ease;
 transition: all .3s ease;
 opacity:1;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
}
/* .popup-enter defines the starting state for entering */
/* .popup-leave defines the ending state for leaving */
.popup-enter, .popup-leave {
 opacity: 0;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.module-btn .fa-check {
  -webkit-transition: .2s all;
  transition: .2s all;
    position: absolute;
    color: #38B449;
    font-size: 40px;
    right: 0;
    top: 0;
}
.bulbOff {
  background-image: url('/course-files/course-05-interpersonal-communication-2.0/images/png/interCommsBulbOff.png');
  background-repeat: no-repeat;
  height:100px;
  width:100px;
  background-size:contain;
  margin-left:34px;
  margin-top:10px;
}
.bulbOn {
  background-image: url('/course-files/course-05-interpersonal-communication-2.0/images/png/interCommsBulb2.png');
  background-repeat: no-repeat;
  height:145px;
  width:115px;
  background-size:contain;
}
.bulbhideshow {
  height:150px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.arrow-list-white li:before {
    font-family: 'FontAwesome';
    content: '\f061';
    margin: 0 5px 0 -15px;
    color: #ffffff;
}
.image-rows-wrap {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: relative;
  margin-top:10%;
}
span.numbers-images img {
    width: 50px;
    margin-right:15px;
}
.number-lists {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content:center;
}
.number-text {
  width:80%;
}

.click-lists {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height:80px;
    margin-left:3em;
}
.prev-button2 {
    display: inline-block;
    background: url(/images/course-assets/buttons/prev-button.svg);
    width: 400px;
    padding: 2em;
    color: white;
    background-repeat: no-repeat;
    -webkit-transition: .15s all;
    transition: .15s all;
    text-align: center;
    width: 50px;
    height: 50px;
    background-size: contain;
}
.circle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(/images/course-assets/buttons/circle-button.svg);
    width: 400px;
    padding: 2em;
    color: white;
    background-repeat: no-repeat;
    -webkit-transition: .15s all;
    transition: .15s all;
    text-align: center;
    width: 50px;
    height: 50px;
    background-size: contain;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.next-button2 {
   background: url(/images/course-assets/buttons/next-button.svg);
    width: 400px;
    padding: 2em;
    color: white;
    background-repeat: no-repeat;
    -webkit-transition: .15s all;
    transition: .15s all;
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: contain;
}
span.center-btn {
    font-size: 20px;
}
.form-cols p {
    height: 60px;
    padding: 0 !important;
}

.matching-clicked, .matchingcorrect {
  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url(/course-files/course-05-interpersonal-communication-2.0/images/svg/clicked.svg) !important;
    background-repeat: no-repeat;
    color: white;
    -webkit-transition: .15s all;
    transition: .15s all;
    -webkit-transform: scale(1);
            transform: scale(1);
    border-width: 0px;
}
@media screen and (max-width:500px) {
  .module-btn i.arrowLock.fa.fa-lock {
      right: 7%;
  }
  .magenta-blob-box.module-btn {
      width:100%;
      padding:5px !important;
  }
  .heading {
    font-size:12px;
  }
  .module-btn p br {
    display:none;
  }
  .squiggle-container .squiggle-content .module-btn p {
    padding:0 !important;
  }
  .helpHinder-btn {
    width:250px;
  }
  .numbers-images img {
    width: 30px !important;
    margin-top: -5px;
  }

}
@media screen and (max-width:1400px) {
  .bulbOff {
    height:75px;
    width:60px;
    margin-left:25px;
    margin-top:20px;
  }
  .bulbOn {
    height:100px;
    width:100px;
  }
  .bulbhideshow {
    height:100px;
  }
}
@media screen and (min-width:600px) {
  .heading {
    font-size: 18px;
 }
}
/*Mix and match list*/

.matchingimg {
    width: auto;
    height:90px;
}
.matching-button {
  width:50%;
  z-index:100000000;
}
.matchy {
  width:100px;
  z-index:100000000000;
}
.matchy2 {
  width:200px;
}
.matching {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  width:100%;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  align-items:center;
}
.matching svg {
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
}
.transparent {
  opacity:0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.magenta-link, .magenta-link:hover {
  color:#E51669 !important;
}

.purple-bk-popup2 .popup-inner p.magenta-link, .purple-bk-popup2 .popup-inner p.magenta-link:hover {
  color:#E51669 !important;
}
.purple-bk-popup2 .popup-inner p.white {
  color:#FFFFFF !important;
}

.flip-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}
.drag-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.flip-row .switch-float {
    width: auto !important;
    margin-right: 1.8em;
}
.flip-title-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flexy-match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.flexy-match2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}
.width50 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
}
.padding-less {
  padding:1em !important;
}
.flexy-reload {
  width:60% !important;
}
.flexy-image2 img {
  max-height: 400px;
      width: auto;
}
.piechart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

.piechart svg {
    max-width: 100%;
    width: 100%;
    height: 300px;
}
.drag-buttons {
    width:32%;
    padding:0.5em !important;
    max-width:150px;
    z-index:90000;
}

.drag-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
}

.pie {
    position: relative;
    margin: 0 auto;
}

.verbal {
    position: absolute;
    top: 0;
    left: 20%;
    height: 50%;
    width: 30%;
}


.tone {
    position: absolute;
    left: 0;
    top: 20%;
    height: 70%;
    width: 50%;
}

.body {
    top: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
}

.pie-img img {
    max-width: 100%;
    width: auto;
    height: 50vh;
    max-height: 300px;
}
.pie-img {
  max-width:300px;
  margin:0 auto;
  display:flex;
  justify-content:center;
}
.pie-img-reload {
  max-width:400px;
  margin:0 auto
}

.arrow-body {
    width: 10px;
    background: #f79838;
    height: 170px;
    margin: 0 auto;
}
.drag-list-wrap {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  height:250px;
}
.drag-arrow {
    width: 50%;
}

.sortable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.sortable li {
  width:150px;
}
.drag-arrow p {
    text-align: center;
}

.jba-btn-submit2 {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.arrow-top{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f79838;
  margin:0 auto;
}
.arrow-bottom {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f79838;
  margin: 0 auto;
}
.no-transition {
  transition:none !important;
}
.magenta-blob-box.matchy2 {
  padding: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
}
#form-checks {
  display:flex;
  flex-direction:column;
  flex-flow:column wrap;
}
@media screen and (min-width:500px ) {
  .matching.matching-words {
    flex-flow: column wrap;
    -webkit-align-content: stretch;
    align-content: stretch;
    height: 300px;
    flex-direction:column;
  }
  .matching-words .flexy-match2 {
    height:25%;
  }
  .matching-words .flexy-match2.bottom {
    order:2;
  }
  #form-checks {
    height:350px;
  }
  #form-checks p {
    width:50%;
    height:15%;
  }
}

@media screen and (max-width:500px) {
  .width50 {
    width:30%;
  }
  .flexy-image2 img {
    max-height: 350px;
  }
  .jba-btn-submit2 {
      padding: 10px 10px;
      font-size: 12px;
      margin-top: 5px;
      line-height: 1.5;
  }
  .sortable li {
    width:auto;
  }
  .bulbOn {
    width:80px;
    height:80px;
  }
  .bulbhideshow {
    height:80px;
  }
  .bulbOff {
    height:60px;
    width:50px;
    margin-left:20px;
    margin-top:14px;
  }
  .flexy-match2.bottom {
    order:2;
  }
  .flexy-match2 div {
    padding:5px;
    font-size:12px;
  }
  .flexy-match2 {
    width:45%;
  }
  .matching.matching-words {
    justify-content: space-around;
  }
  .flexy-reload {
    width:45% !important;
  }
  .numbers-images, .number-text {
    margin-bottom:0;
  }
  .module-btn i.fa.fa-check {
      right: -10px !important;
      top:-5px !important;
  }
  .pie-img img {
    width:200px;
    height:auto;
  }
  #form-checks p input[type="checkbox"]:not(:checked) + label:after,   #form-checks p input[type="checkbox"]:checked + label:after {
    top: -5px;
    left: 7px;
    height:20px ;
    width:20px ;
  }
  #form-checks p input[type="checkbox"]:not(:checked) + label:before,  #form-checks p input[type="checkbox"]:checked + label:before {
    top: 10px;
    width: 20px ;
    height: 20px ;
  }
  #form-checks p {
    padding: 4px !important;
  }

  .drag-wrap .drag-buttons {
    font-size:13px !important;
    display:flex;
    justify-content:center;
    align-items:center;
  }

}
@media screen and (max-width:350px) {
  .flexy-image2 img {
    max-height: 250px;
  }
  .magenta-blob-box.matchy2 {
    font-size:12px;
    margin-top: 2px;
    height:auto;
  }
  .width50 {
    order:1;
    width:50%;
    margin-bottom:10px;
  }
  .flexy-match {
    order:2;
  }
  .module-btn i.fa.fa-check {
      right: -10px;
      top:-10px;
  }


}

@media only screen
  and (max-width: 736px)
  and (orientation: landscape) {
  .flexy-image2 img {
    max-height: 250px;
  }
  .magenta-blob-box.matchy2 {
    font-size:12px;
    margin-top: 2px;
    height:auto;
  }
  .width50 {
    order:1;
    width:25%;
    margin-bottom:10px;
  }
  .flexy-match {
    order:2;
  }
  .flexy-match2.bottom {
    order:2;
  }
  .flexy-match2 {
    width:45%;
  }
  .flexy-match2 div {
    padding:5px;

  }
  .flexy-reload {
    width:45% !important;
  }
  .matching.matching-words {
    height: auto;
    flex-direction:row;
  }
  .matching-words .flexy-match2 {
    height:auto;
  }
  .numbers-images, .number-text {
    margin-bottom:0;
  }
  span.numbers-images img {
    width:30px !important;
  }

}
